<!-- this is an empty HTML document with the HTML 4.01 STRICT DTD
     $Id: html-strict.vm 20081 2011-10-15 16:19:59Z kerik-sf $
  -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html>
</html>
