<?xml version="1.0" ?>

<!-- this is an XSLT 2.0 template, you got it because the XSLT processor
	 that you have selected is an XSLT 2.0 processor
  -->
<xsl:stylesheet 
	xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
    version="2.0">

	<xsl:template match="element()">
	  <xsl:copy>
		<xsl:apply-templates select="@*,node()"/>
	   </xsl:copy>
	</xsl:template>
	
	<xsl:template match="attribute()|text()|comment()|processing-instruction()">
	  <xsl:copy/>
	</xsl:template>

</xsl:stylesheet>
